* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
	background-color: black;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#interface {
	position: absolute;
	width: 1000px;
	height: 750px;
	top: 10%;
	border: .1em dashed white;
}

#content {
	height: 100%;
}

.center {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

#terminal {
	font-family: Inconsolata;
}

#instructions {
	padding: 2em
}

#instructions > div {
	padding-left: 2em;
}

#instruct:hover {
	cursor: pointer;
	font-weight: bolder;
}

#start:hover {
	cursor: pointer;
	font-weight: bolder;
}

#deck:hover {
	cursor: pointer;
	box-shadow: white;
	font-weight: bolder;
}


.card {
	display: inline-block;
}

.card:hover {
	cursor: pointer;
	box-shadow: white;
	font-weight: bolder;
}

.column {
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

#rival {
	position: relative;
	height: 35%;
 	border-bottom: .1em dashed white;
}

#discard {
	position: relative;
	height: 15%;
 	border-bottom: .1em dashed white;
}

#player {
	position: relative;
	height: 35%;
 	border-bottom: .1em dashed white;
}

#hand {
	position: relative;
	text-align: center;
	width:100%;
	height: 15%
}

#hand > div {
	display: inline-block;
	vertical-align: top;
		height: 100%;
}

#stats {
	width: 10%;
}

#fan {
	width: 62%;
}

#onDeck {
	width: 10%;
}

#acts {
	text-align: center;
	padding-top: .5em;
	width: 15%;
}

#hand > div > pre:hover {
	font-weight: bolder;
	cursor: pointer;
}

#hand > pre:hover {
	font-weight: bolder;
	cursor: pointer;
}

.tabulate {
	width: 30%;
	padding-left: .5em;
	text-align: left;
}